Source: ikonized
Section: kde
Priority: optional
Maintainer: Eugene Agafonov <e.a.agafonov@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.16),
               extra-cmake-modules,
               qt6-base-dev,
               qt6-svg-dev,
               libkf6windowsystem-dev,
               libkf6globalaccel-dev,
               libkf6i18n-dev,
               libkf6widgetsaddons-dev,
               libkf6xmlgui-dev,
               libkf6config-dev
Standards-Version: 4.6.0

Package: ikonized
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pager for KDE Plasma 5
 A nice replacement for the default pager applet that shows
 window icons organized by virtual desktop.
