Source: ikonized
Section: kde
Priority: optional
Maintainer: Eugene Agafonov <e.a.agafonov@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.16),
               extra-cmake-modules,
               qtbase5-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libkf5windowsystem-dev,
               libkf5globalaccel-dev,
               libkf5i18n-dev,
               libkf5widgetsaddons-dev,
               libkf5xmlgui-dev,
               libkf5config-dev
Standards-Version: 4.6.0

Package: ikonized
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pager for KDE Plasma 5
 A nice replacement for the default pager applet that shows
 window icons organized by virtual desktop.
